@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: 'Merriweather', serif;
    --primary-color: #05056E !important;
    --secondary-color: #4d4dd5 !important;
    --text-color: #F8D825 !important;
}

body,
html {
    font-family: var(--primary-font);

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    max-width: 100%;
    z-index: 999;

}

.nav-logo {
    display: flex;
    gap: 10px;
    min-width: 200px;
    flex: 1;
    color: var(--text-color);


}

.nav-logo img {
    max-width: 100px;

}

.nav-menu {
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    flex: 1;
    min-width: 200px;
}

.nav-menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;

}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
}

.nav-menu ul li a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

#slider-container {
    height: 80vh;
    width: 100%;
    /* width: 97.8%; */
    background-color: black;
    margin-top: 110px;
}

#carouselExampleCaptions,
#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item {
    height: 100%;
}

#carouselExampleCaptions .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.carousel-control-prev,
.carousel-control-next {
    background: transparent;
    border: none;
    outline: none;
}

.about-section {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.about-section h4 {
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 10px;

}

.container-left {
    max-width: 800px;

}

.container-left p {
    text-align: left;

}



.container-right img {
    max-width: 400px;

    border-radius: 8px;
}

.read-more {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;

}

.read-more a {
    text-decoration: none;
    color: white;
}

.services {
    padding: 20px;
}

.services h4 {
    text-align: center;
    color: white;
}

.services {
    background-color: var(--secondary-color);
}

.service-card {
    display: flex;
    justify-content: space-evenly;    
    padding: 20px;
    flex-wrap: wrap;
    
}

.card-body {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    max-width: 400px;
    /* height: 400px; */
    /* background-color: red; */
    align-items: center;
    padding-bottom: 0px;
    box-shadow: 10px 10px 4px 8px rgba(0, 0, 0, 0.1);

}

.card-body:hover{
    transform: scale(1.07);
    transition: all linear 0.4s;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img img {
    max-width: 350px;
    border-radius: 5px;

}

.card-heading h5{
    font-size: 18px;

}

.card-btn {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 400px;
    color: white;


}

.card-btn a {
    text-decoration: none;
    color: white;
}


.gallery {
    padding: 20px;

}

.gallery h4 {
    text-align: center;
}

.gallery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}



.gallery-item img {
    max-width: 400px;
    border-radius: 10px;
}

marquee{
    background-color: var(--text-color);
    padding: 4px;
    color: red;
    position: relative;
    top: 115px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.footer-body {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.brand-name {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
}

.brand-name img {
    width: 100px;
}

.contact a {
    color: white;

}

.footer-right {
    display: flex;
    flex-direction: column;

}

.address{
    /* background-color: red; */
    font-size: 14px;
    border-top: 1px solid gray;
padding-top: 4px;
}

.address span{
    font-weight: bold;
    color: var(--text-color);
}

.copyright {
    font-size: 14px;
    color: gray;
    border-top: 1px solid gray;
    padding-top: 10px;
}
/* Contact page */

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    margin-top: 120px;
    padding: 20px;

}

.map-img {
    max-width: 400px;
    border-radius: 10px;
}

.contact-section h2,
p {
    text-align: center;
}

.contact-section-main {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 0 auto;
    max-width: 100%;
}

.submit {
    background-color: var(--primary-color);
    padding: 7px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.form-body{
    max-width: 600px;
}

.form-body form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.form-body form input {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

.form-body form textarea {
    padding: 5px 35px;
    border: 1px solid gray;
    border-radius: 8px;

}

.contact-right {
    box-shadow: 1px 3px 14px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    /* border: 1px solid gray;; */
}

/* Result Page */

.result-section {
    margin-top: 160px;
    display: flex;
    flex-direction: column;



}

.result-heading h4 {
    text-align: center;

}

.result-body {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
   justify-content: space-evenly;
    padding-top: 20px;
    
    
}

.result-body .result-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.result-body .result-col .result-card {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px 25px;
    width: 300px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.result-body .result-col .result-card h5 {
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    
}

.result-body .result-col .result-card .btn {
    color: var(--text-color);
    font-size: 30px;
    padding: 10px;
    font-weight: bold;

}

.result-body .result-col .result-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--text-color);

}

/* About page */

.about-banner{
    margin-top: 120px;
    max-width: 100%;
}

.about-banner img{
    max-width: 100%;
    height: 200px;
    
}

.certifications{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.certificates{
    display: flex;
    align-items: center;
    justify-content:  space-around;
gap: 45px;
}

.certificates-card{
    max-width: 450px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--primary-color);

}

.certificates-card #second-cert{
    max-width: 350px;
     height: 510px;
}

.certificates-card #first-cert{
    height: 510px;
     max-width: 420px;
}

/* Exam details */

.exam-details{
    padding-top: 18px;
    padding-bottom: 10px;
}
.exam-details h4{
    text-align: center;

}

.exam-description{
    padding: 30px;
    font-size: 16px;
    line-height: 40px;
}

.exam-description ul li{
    list-style:disc;
}

.syllabus-body h5{
    text-align: center;
}

.syllabus-content{
    display: flex;
    padding: 10px;
    /* align-items: center; */
    justify-content: space-between;
}

.grade h5{
    text-align: center;
}

table {
      max-width: 1000px;
      min-width: 300px;
      border-collapse: collapse;
      margin: 10px auto;
      font-size: 15px;
    }
    th, td {
      border: 1px solid #444;
      padding: 5px;
      text-align: center;
    }
    th {
      background-color: var(--primary-color);
      color: white;
    }
    td {
      background-color: #f2f2f2;
    }
    caption {
      font-size: 1.2em;
      margin-bottom: 10px;
      font-weight: bold;
    }


@media screen and (max-width: 850px) {

    body {
    overflow-x: hidden;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .nav-logo,
  .nav-menu {
    width: 100%;
    justify-content: center;
  }

  .nav-menu ul {
    padding-top: 25px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

    marquee{
        margin-top: 120px;
    }

    .nav-menu {
        margin-top: 40px;
    }

    .about-content {
        padding: 0px;
    }

    .container-right img {
        max-width: 100%;
    }

    .services {
        padding:0;
        max-width: 100%;
        margin: auto;
    }

    .service-card{
        gap: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .about-banner{
        margin-top: 230px;
    }

    .certifications{
        margin-top: 25px;
    }

    .certificates{
        flex-wrap: wrap;
        margin-top: 8px;

    }

    

    .gallery {
        padding: 15px;
    }

    footer {
        max-width: 100%;
    }

    .contact-section-main {
        flex-direction: column;
        gap: 30px;
        padding: 10px;
    }

    .map-img {
        width: 100%;
        max-width: 100%;
    }

    .form-body form {
        width: 90%;
        padding-left: 80px;
    }

    textarea{
        max-width: 90%;
        /* padding: 5px 35px; */
    }

    .contact-section {
        padding: 10px;
        margin-top: 250px;
        max-width: 100%;
    }

    .result-body{
        flex-wrap: wrap;
    }

    .syllabus-content{
        flex-direction: column;;
    }
}